/* Define a fonte Inter como padrão para uma melhor legibilidade */
body {
    font-family: 'Inter', sans-serif;
}

/* Estilos adicionais para centralizar o conteúdo e garantir a altura mínima */
.min-h-screen {
    min-height: 100vh;
}

/* Ajuste para o spinner de carregamento */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.animate-spin {
    animation: spin 1s linear infinite;
}